# See https://fly.io/docs/app-guides/continuous-deployment-with-github-actions/

name: Test and Deploy

# specify when to run this action
on:
  push:
    branches:
      - main

jobs:

  test:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      # TODO: check out the repo
      # TODO: set up the python environment
      # TODO: run pytest

  deploy:
    name: Deploy app
    runs-on: ubuntu-latest
    needs: test
    concurrency: deploy-group    # optional: ensure only one action runs at a time
    steps:
      # TODO: check out the repo
      # TODO: use Fly.io's command line tool to deploy
      # (you'll need to set the FLY_API_TOKEN secret for this)
